<div class="helper-controls ps-fixed">

  <div class="helper-controls-wrapper d-flex flex-direction-col">
    <!-- Notify buttom -->
    <buttton class="button button-dark button-icon button-icon-no-text text-decoration-none" id="notifyButton" >
      <div class="icon-wrapper">
        <span class="fas fa-bell font-size-12 d-block scale-1-5"></span>
      </div>
      <span class="text">&#x200B</span>
    </buttton>

    <!-- Notify buttom -->
    <buttton class="button button-dark button-icon button-icon-no-text text-decoration-none" id="toTop">
      <div class="icon-wrapper">
        <span class="fas fa-chevron-up font-size-12 d-block scale-1-5"></span>
      </div>
      <span class="text">&#x200B</span>
    </buttton>
  </div>

</div>