
$block-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$block-border-radius: 15px;

$block-padding-x: 1.5rem;
$block-padding-y: 1rem;
$block-padding-x-sm: .5rem;
$block-padding-y-sm: .3rem;

$container-row-gap: 2rem;
// $container-col-gap: 10px;