// Main Colors variables

$yellow: #eeb236;

$red: #e9232b;
$tomato-red: #d63031;

$lightnest-blue: #ade4fb;
$light-blue: #69c1e6;
$blue: #2facde;
$dark-blue: #3498db;
$black-blue:  #033a5f;

$light-gray: #e7e6db;
$gray: #b3bbb7;
$dark-gray: #5f6060;
$gray-clouds: #ecf0f1;

$dark: #2e2244;

$white: #fff;

$soft-black: #2d3436;
$black: #000;
$main-text-black: #222;

$light-black: #555;
$light-black-second: #bbb;

$light-black-hover: #333;
$light-black-secon-hover: #888;

.color-red {
  color: $red!important;
}

.color-tomato-red {
  color: $tomato-red!important;
}