description = "Макет для главной страницы"

[staticPage]
useContent = 1
default = 0

[breadcrumbs breadcrumbDefaultLayout]
code = "sitemap"

[session]
security = "all"

[cookieConsent]
message = "Этот веб-сайт использует файлы cookie, чтобы обеспечить вам максимальное удобство на нашем веб-сайте."
dismiss = "Понятно!"
learnMore = "Подробнее"
link = "http://www.yourwebpage.com/cookies"
theme = "dark-bottom"

[messages]
activeOnly = 1
hide_with_cookie = 1
categorySlug = 0
==
<?php
function onInit()
    {
        $this['cookiesPageUrl'] = Winter\Pages\Classes\Page::url('cookies');
    }
    function onStart()
    {
        $this['currentLocale'] = App::getLocale();
        $this['favIconHref'] = e(Backend\Models\BrandSetting::getFavicon());

        $this['currentUrl'] = Request::url();
        $this['homePageUrl'] = $this->pageUrl('index');
        $this['isHomePage'] = $this['currentUrl'] == $this['homePageUrl'];
        $this['backendUrl'] = Backend::url('/');
        $this['backendAuth'] = BackendAuth::check();
    }

    function onVisuallyImpaired()
    {
      // Session::put('key', 'value');
      // $value = Session::get('key', 'default');

      // visually_impaired
      $isVisuallyImpaired = Session::get('visually_impaired', false);

      if ($isVisuallyImpaired) {
        // Disable 
        $session = Session::put('visually_impaired', false);
      } else {
        // Enable
        $session = Session::put('visually_impaired', true);
      }
    }
?>
==
<!DOCTYPE html>
<html lang="{{ currentLocale }}">
<head>
    {% partial 'site/head' %}
    {% styles %}
    {% component 'cookieConsent' link=cookiesPageUrl %}
</head>
<body>
    {% component 'messages' %}

    <div id="wrapper">

        {% partial 'site/header' %}

        <div class="container-lg content">
            {% component 'breadcrumbDefaultLayout' %}

            {% page %}
            {% component 'staticPage' %}
        </div>

        {% partial 'site/footer' %}
    </div>

    <!-- Button go up  -->
    {% partial 'site/helperControls' %}

    <!-- Admin panel button -->
    {% partial 'site/adminPanelButton' %}

  {% partial 'site/scripts' %}
  {% scripts %}

</body>
</html>